/* Mobile first! */
@import "./header-footer";

html, body {
    font-size: 20px;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    background: $home-bg;
    background-repeat: no-repeat;
}

.hero {
    text-shadow: 1px 2px 2px #000;

    h1 {
        letter-spacing: 1rem;
        text-transform: uppercase;
    }
}

.article-link {
    color: $article-link-color;
    text-decoration: none;
    border-radius: 0.4rem;
    margin-bottom: 2rem;
    transition: all 0.3s ease;
    position: relative;
    justify-self: center;
    overflow: hidden;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);

    @include link-effect;
}

.article {
    padding: 1rem;
}

.d-grid {
    display: grid;
}

main {
    margin: 10px;
    text-align: center;
    color: $article-link-color;
}


#home {

    .menu-nav-link:first-of-type {
        color: $nav-hover-color;

        &:after {
            display:block;
            content: '';
            border-bottom: solid 3px $nav-underline;
            transform: scaleX(1);
        }
    }
}

#articles {

    .menu-nav-link:nth-of-type(2) {
        color: $nav-hover-color;

        &:after {
            display:block;
            content: '';
            border-bottom: solid 3px $nav-underline;
            transform: scaleX(1);
        }
    }
}

#article {
    
    p {
        white-space: pre-line;
    }
}

#login {

    h1 {
        letter-spacing: inherit;
    }

    input[type=submit] {
        justify-self: center;
    }
}

#login-form {
    display: grid;
    margin: auto;
    max-width: 500px;
}

.inputs {
    font-size: inherit;
    display: block;
    margin: auto;
    width: 90%;
}

.forms-text {
    height: 1.5rem;
    font-size: inherit;
    text-align: center;
}

.invalid {
    outline: 2px solid red;
}

.warning {
    color: red;
}

.success {
    color: lime;
}

@import "./responsive";