/* Mobile first! */
@import "./header-footer";

html, body {
    font-size: 20px;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    background: $home-bg;
    background-repeat: no-repeat;
}

.hero {
    text-shadow: 1px 2px 2px #000;

    h1 {
        letter-spacing: 1rem;
        text-transform: uppercase;
    }
}

.topic-link {
    color: $topic-link-color;
    background: $topic-card-bg;
    text-decoration: none;
    border-radius: 2rem;
    padding: 0.5rem;

    &:hover {
        background: $topic-hover;
        box-shadow: 0px 6px 2px 3px rgba(0, 0, 0, 0.09), 0 3px 8px rgba(0, 0, 0, 0.09), 0 4px 13px rgba(0, 0, 0, 0.13);
    }
}

.article-link {
    color: $article-link-color;
    background: $article-card-bg;
    text-decoration: none;
    border-radius: 0.4rem;
    margin-bottom: 2rem;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    justify-self: center;

    &:hover {
        background: $article-hover;
        box-shadow: 0px 6px 2px 3px rgba(0, 0, 0, 0.09), 0 3px 8px rgba(0, 0, 0, 0.09), 0 4px 13px rgba(0, 0, 0, 0.13);
    }
}

.article {
    padding: 0.5rem;
}

.d-grid {
    display: grid;
}

main {
    margin: 10px;
    text-align: center;
    color: #FFF;
}


#home {

    .menu-nav-link:first-of-type {
        color: $topic-link-color;

        &:after {
            display:block;
            content: '';
            border-bottom: solid 3px $topic-hover;
            transform: scaleX(1);
        }
    }
}

#articles {

    .menu-nav-link:nth-of-type(2) {
        color: $topic-link-color;

        &:after {
            display:block;
            content: '';
            border-bottom: solid 3px $topic-hover;
            transform: scaleX(1);
        }
    }
}

#login {

    h1 {
        letter-spacing: inherit;
    }

    input[type=submit] {
        justify-self: center;
    }
}

#login-form {
    display: grid;
    margin: auto;
    max-width: 500px;
}

.forms-text {
    height: 1.5rem;
    font-size: inherit;
}

.warning {
    color: red;
}

.success {
    color: lime;
}

@import "./responsive";