<header>

  <div class="menu-btn">
    <span class="menu-btn-burger"></span>
  </div>

  <nav>
    <div id="navbar">
      <ul class="menu-nav">
        <a class="menu-nav-link" href="/"><li class="menu-nav-item">Home</li></a>
        <a class="menu-nav-link" href="/articles"><li class="menu-nav-item">Articles</li></a>
			</ul>

      <div class="log-in">
        <form id="search-form" action="/search" method="GET">
          <input type="search" placeholder="Search" name="q">
          <button type="submit">Search</button>
        </form>
      </div>

    </div>

  </nav>

</header>