<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Can't Load Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Spectral:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.min.css">
</head>
<body id="error">

    <%- include("partials/navbar") %>

    <main>
        <section class="hero">
            <h1>Uh oh!</h1>
            <p>It seems there was an issue loading the page. Sorry about that!</p>
        </section>
    </main>

    <%- include("partials/footer") %>
</body>
</html>