<!DOCTYPE html>
<html lang="en">

<%- include("partials/header") %>

<body id="error">

    <%- include("partials/navbar") %>

    <main>
        <section class="hero">
            <h1 class="warning">Uh oh!</h1>
            <p>It seems there was an issue loading the page. Sorry about that!</p>
        </section>
    </main>

    <%- include("partials/footer") %>
</body>
</html>