<!DOCTYPE html>
<html lang="en">

<%- include("../partials/header") %>

<body id="new-article">

    <%- include("../partials/navbar") %>

        <main>
            <form action="/articles" method="post">
                <section>
                    <!--Title-->
                    <label for="">Title of Article</label>
                    <input type="text" name="title" class="inputs forms-text" required>
                    <!--Description/Details-->
                    <label for="">Short description of Article</label>
                    <input type="text" name="details" class="inputs forms-text" required>
                </section>
                
                <article>
                
                    <section>
                        <label for="">Main Content</label>
                        <textarea id="content" class="paragraph inputs" name="content0" cols="60" rows="10" required></textarea>
                    </section>

                    <button id="add-paragraph">Add Paragraph</button>
                
                </article>

                <input id="submit" type="submit" value="Post Article">
            </form>
        </main>

    <%- include("../partials/footer") %>

    <script src="/js/new-article.js"></script>
</body>

</html>