<!DOCTYPE html>
<html lang="en">

<%- include("../partials/header") %>

<body id="new-article">

    <%- include("../partials/navbar") %>

        <main>
            <form action="/users/<%= user._id %>/articles" method="post">
                <section>
                    <!--Title-->
                    <label for="">Title of Article</label>
                    <input type="text" name="title" class="inputs forms-text" required>
                    <!--Description/Details-->
                    <label for="">Short description of Article</label>
                    <input type="text" name="details" class="inputs forms-text" required>
                </section>
                
                <article>
                
                    <section class="article-section">
                        <p>Main Content</p>
                        <label for="">Add Image</label>
                        <input type="text" name="img0" class="img forms-text" placeholder="URL">
                        <input type="text" name="owner0" class="owner forms-text" placeholder="Owner of Image">
                        <textarea id="content" class="paragraph inputs" name="content0" rows="12" required></textarea>
                    </section>

                    <button id="add-paragraph">Add Paragraph</button>
                
                </article>

                <input id="submit" type="submit" value="Post Article">
            </form>
        </main>

    <%- include("../partials/footer") %>

    <script src="/js/new-article.js"></script>
</body>

</html>