<!DOCTYPE html>
<html lang="en">

<%- include("../partials/header") %>

<body id="login">

    <%- include("../partials/navbar") %>

    <main>
        <section class="hero">
            <h1>Login</h1>
        </section>

        <section>
            <form id="login-form" action="/users" method="post">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="forms-text" required>

                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="forms-text" required>

                <input type="submit" name="commit" value="Sign In" class="log-in-btn">
            </form>
        </section>

    </main>

    <%- include("../partials/footer") %>
</body>

</html>